<!DOCTYPE html>
{%extends 'EmployerBaseHome.html'%}
{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <h1>Job List</h1>
                </div>
                <div class="col-4"></div>
            </div>

            <table class="table table-striped">
    <tr>
        <th>Job Position</th>
        <th>Min Experience</th>
        <th>Max Experience</th>
        <th>Vacancies</th>
        <th>Action</th>
    </tr>
    <tr>
        {%for job in jobs%}
        <td>{{job.job_position}}</td>
        <td>{{job.min_experience}}</td>
        <td>{{job.max_experience}}</td>
        <td>{{job.vacancies}}</td>
        <td>
            <a href="" class="btn btn-primary">Detail</a>&nbsp&nbsp<a href="" class="btn btn-warning">Update</a>&nbsp&nbsp<a href="" class="btn btn-danger">Delete</a>
        </td>

    </tr>
                {%endfor%}
</table>
        </div>
<!--        <div class="col-1"></div>-->
    </div>
</div>
{%endblock%}